email = thavaahariharangit@github.com
always-auth = true
registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/db-dependabot-local/
//jfrogghdemo.jfrog.io/artifactory/api/npm/db-dependabot-local/:_authToken=${secrets.JFROG_ARTIFACTORY_TOKEN}
